# Copy this file to .env.local and fill in your subgraph URL
# Hosted Service: https://api.thegraph.com/subgraphs/name/BrunoMarshall/mintondex
# Subgraph Studio: https://api.studio.thegraph.com/query/ID/mintondex/version/latest
REACT_APP_SUBGRAPH_URL=https://api.thegraph.com/subgraphs/name/BrunoMarshall/mintondex
